.shareContainer {
  max-width: 1140px;
  width: 100%;
  margin: 40px auto;
  display: flex;
  /*flex-wrap: wrap;*/

}

.shareLeftside {
  flex-basis: 45%;
  margin-left: 10px;
}

.shareLeftside .itemCard {
 max-width: 360px;
}

.shareLeftside .buttonBorrow{
  display: none;
}

.shareRightside {
  flex-basis: 55%;
}

.shareRightside p{
  margin: 15px 0;
}