.profileHeader {
  max-width: 800px;
  margin: 40px auto; 
  padding: 0 10px;
}

.userPersonalInfo, .userOtherInfo {
  flex-basis: 100%;
}

.userPersonalInfo h1,p{
  margin-right: 20px;
} 

.userOtherInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.userOtherInfo img{
  height: 130px;
  width: 130px;
  align-self: center;
}

.profileHeader h1 {
  font-size: 2.5rem;
}

.profileHeader h2 {
  font-size: 1.3rem;
  margin-top: 15px;
}

.subtitle {
  color: rgba(38, 50, 56, 0.54);
}

.userStat {
  margin-left: 0;
}

/* Tablet and Desktop view */
@media screen and (min-width: 800px) {
  .userPersonalInfo, .userOtherInfo {
    flex-basis: 50%;
  }
  .userOtherInfo {
    margin-top: 0;
  }
  .userStat {
    margin-left: 15px;
  }
  .userOtherInfo img{
    height: 180px;
    width: 180px;
  }
}

