.cardList {
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonAddContainer {
  z-index: 100;
  position: fixed;
  bottom: 30px;
  right: 2rem;
}

.cardsContainer {
  width: 100%;
}

.masonry {
  width:100%;
}

.masonry li {
  width: 100%;
  padding: 10px; 
}

/* Tablet view */
@media screen and (min-width: 560px) {
  .masonry li {
    width: 50%;
  }
}

/* Desktop view */
@media screen and (min-width: 960px) {
  .masonry li {
    width: 33.33%;
  }
}