.cardList {
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonAddContainer {
  z-index: 100;
  position: fixed;
  bottom: 30px;
  right: 2rem;
}

.cardsContainer {
  width: 100%;
}


.masonry li {
  width: 33.33%;
  padding: 10px; 
}
