.notFoundContainer{
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notFoundWrapper{
  text-align: center;
}

.notFoundContainer h1 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1.7rem;
  color: white;
}

.notFoundPic{
  height: 40vh;
  width: auto;
}