.appContentWrapper {
    display: flex;
    min-height: 100%;
    flex-direction:column;
}

.appContent {
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  flex: 1;
}

.appHeader {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}


