.headerLeftWrapper {
  display: flex;
  align-items: center;
}

.headerLeftWrapper .logoSize{
  height: 36px;
  width: auto;
}

.logoWrapper {
  margin-right: 20px;
}

.logoWrapper a{
  line-height: 1;
  display: flex;
  align-items: center;
}

.filterMenuWrapper{
  display: flex;
  align-items: center;
}